body {
    background: chartreuse;
}

h1 {
    color: red;
}

h2 {
    text-decoration: underline;
    width: 75%;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

table {
    width: 100%;
}

th, td {
    border: 2px solid red;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

.button {
    background-color: green;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}

.peopleDescription {
    background-color: pink;
    border: 5px solid red;
}

.columnedWindow {
    display: flex;
    flex-direction: row;
}

.column {
    color: 'blue';
    overflow-y: auto;
    border: 5px solid red;
}

.first {
    width: 25%;
}

.second {
    width: 75%;
}

.halfWidth {
    width: 50%
}

.form {
    display: none;
    position: absolute;
    overflow-y: auto;
    top: 5%;
    right: 5%;
    height: 50%;
    width: 50%;
    border: 3px solid green;
    z-index: 1;
    background-color: white;
}
